Html, body {
Backround:02182B;
font-family: ‘lato’, Helvetica, arial, sans serif;
font size: 16px;
color:68C5DB;
}

P {
Font size: 1em;
Line-height: 1.4em;
Margin-bottom: 20px;
Color:68C5DB;
}

H1 {
Border-bottom: 1px solid 0197F6 ;
Padding: 20px 0 0;
}

H2 {
Font-size 2opx;
Colour:448FA3;
Padding 20px 0 0;
}

sectionTitle img {
width: 100%
}
